*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #000000;
    height: 90px;
    width: 100%;
}

.enlance{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    height: 40px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    background: #000090;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


@media (max-width: 952px){
    .enlance{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a.hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

#container{
    width: 90%;
    margin: 0px auto;

}

h1{
    background: #036ee6;
    height: 150px;
    width: 100%;
    text-align: center;
    line-height: 150px;
    color: #ffffff;
    border-bottom: 10px solid #ffffff;
    font-size: 50px;
    margin: auto;
}

.clear{
    clear: both;

}

#contenido{
    float: left;
    width: calc(80% - 80px);
    min-height: 500px;
    background: #ffffff;
    padding: 40px;
}

.article{
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}

aside{
    float: left;
    width: calc(20% - 20px);
    min-height: 500px;
    background: #039ee6;
    padding: 10px;
}



footer{
    background: #000000;
    color: #ffffff;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
